@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Stint+Ultra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Merienda+One&family=Stint+Ultra+Condensed&display=swap');

div {
    color: rgb(179, 84, 49);
    font-family: 'Merienda One', cursive;
    text-shadow: 2px 2px 2px #70FFB0; 
    font-size: 2em;
}

div > p {
    display: none;
}

div:hover > p {
    display: block;
    font-family: 'Stint Ultra Condensed', cursive;
    text-shadow: 2px 2px 1px #70FFB0;
    font-size: 1em;
    color: slategray;
}

h1#principal {
    text-align: center;
    color: rgb(30, 94, 124);
}

.basico {
    color: magenta;
}

.intermediario {
    color: orange;
}

.avancado {
    color: springgreen;
}

body {
    background-color: darkseagreen;
}

h1 {
    color: darkgreen;
}

h2 {
    color: rgba(56, 121, 56, 0.794);
}