@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor1: #045956;
    --cor2: #19807C;
    --cor3: #07A6A0;
    --cor4: #08CCC5;
    --cor5: #4EE6E0;
}

body{
    background-color: var(--cor4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: auto;
}

/* 
    Seccao desenvolvimento
*/
.majorHeader {
    background-color: var(--cor1);
    color: whitesmoke;
    min-height: 150px;
    padding: 10px 10px 0px 10px;
    text-align: center;
    margin: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.majorHeader > h1, p{
    margin-top: 10px;
}

.majorHeader > nav{
    padding: 5px;
    margin-top: 10px;
}

.majorHeader > nav > a {
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: bold;
    display: inline;
}

.majorHeader > nav > a:hover{
    padding: 2px;
    background-color: var(--cor4);
    transition-duration: 1s;
}

main {
    padding: 20px;
    margin: auto;
    background-color: white;
    min-width: 200px;
    max-width: 800px;
    border-radius: 10px;
    margin-top: 10px;
}

main p{
    text-indent: 30px;
    line-height: 1.3em;
}

main h2{
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 15px;
    margin: 15px;
    border-radius: 5px;
}

main > .desenvolvimento > h1, h2{
    font-family: 'idroid';
    color: var(--cor2);
    text-align: left;
}

/* 
    Seccao Video
*/
main > .secVideo {
    padding: 20px;
    position: relative;
    width: 100%;
    background-color: var(--cor1);
    margin: 15px 0;
}

main > .secVideo > iframe{
    margin: 10px 0px;
}

/*
    Seccao Mais
*/

main > .picIrina > source, img{
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

main > .secVideo > .artVideoDroid {
    width: 80%;
    justify-content: center;
    align-items: center;
}

main > .mais > aside > .maisDiv{
    background-color: var(--cor3);
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}

main > .mais > aside > .maisDiv > ol{
    list-style-type: '\2714';
    columns: 2;
    list-style-position: inside;
    margin: 10px 0px;
}

main > .mais > aside > .maisDiv > .maisDivHead{
    background-color: var(--cor5);
    padding: 5px;
    margin: -15px -15px 5px -15px;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

/* 
    Seccao Footer
*/
footer {
    text-align: center;
    background-color: var(--cor3);
    margin-top: 10px;
    padding: 2px;
}
